medusa/xml/manifest.rnc

# RNC schema for specifying the format for MANIFEST.XML, defining metadata for a dataset
start = element manifest
      { attribute name { text }
      , attribute created { date }
      , attribute author { text }    # use email as ID?
      , attribute class { "flowcam" | "none" }?
      # Flowcam specific information: https://docs.google.com/document/d/11n3qeoZctYqzwrH22xi2kACa5ij3uWPFH5q99cOaWZU/e
      , description
      , provenance
      , objects
      }

# A SHA256 hash, the basis for object identity
hash = xsd:string { pattern = "[a-f0-9]*" length = "64" }

# MIME types for data objects
mime_t = text                   # must contain a slash?  Limit to list of valid types?

# Specification for dates
date = xsd:string { pattern = "(19|20)[0-9][0-9]-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|30|31)( [012][0-9]:[0-5][0-9]:[0-5][0-9])?" }

# Cruise IDs: Syyyynnn or S2023nnnnnn
cruiseid = xsd:string { pattern = "S((19|20|21|22)[0-9][0-9][0-9][0-9][0-9]|202[3-9][0-9][0-9][0-9][0-9][0-9][0-9])" }

# Specifies a station, we have (at least) two different kinds, CTD and trawling
ctd-station = element ctd-station
    { attribute cruise-id { cruiseid }
    , attribute station { xsd:integer }
    }

fixed-station = element fixed-station { text } # todo: one from a list

trawl-station = element trawl-station
    { attribute cruise-id { cruiseid }
    , attribute station { xsd:integer }
    }

# cruise series, transect, cruiseid, station, platform
# or fixed station, plankton_gear, mesh_size ....

# latitude/longtitude, timestamp
location = element location
    { attribute lat { xsd:float }  # degrees and fraction
    , attribute lon { xsd:float }
    }

# Short description of the dataset
description = element description { freetext }

# Provenance for derived data, automatic processes generate this
provenance = element provenance
    { (freetext
    | process
    | dataset
    | instrument
    | plankton-sample )*
    }

instrument = element instrument { attribute type { text } }

process = element process
    { attribute name { text }
    , attribute cmdline { text }?
    , attribute git-hash { xsd:string { pattern = "[a-f0-9]*" length = "40" }}?
    , attribute url { text }?
    , attribute version { text }?
    }

dataset = element dataset
    { attribute id { hash }
    , attribute relation { "input" | "supersedes" | "extends" }
    , text
    }

plankton-sample = element plankton-sample
    { (ctd-station | fixed-station)
    , location?
    }

# List of objects in the dataset
objects =  element objects
   { element object
     { attribute path { text }         # file name, path relative to current dir
     , attribute sha256 { hash }       # sha256 checksum
     , attribute mimetype { mime_t }   # mime-type of the file (e.g. text/plain)
     }*
   }

# Basic content, allows references to identified entities
freetext = ( text 
           | element species  
	       { attribute tsn { xsd:string { pattern = "[1-9][0-9]*" }}                 # Or WoRMS ID?
	       , attribute sciname { xsd:string { pattern = "[A-Z][a-z]*( [a-z]*)?" }}?
	       , text
	     }
           | element person { text }
           | element location { text }
	   | element cite { attribute doi { text }?, text? } # maybe author, year etc?
	   | element date { date }
	   )*

